.main-landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f8f8f8;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  padding-top: 10vh;
}

main {
  flex: 1;
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

